.price {
    margin-top: 50px;
    .price-backg {
        height: 557px;
        background-color: #43AAFF;
        background-image: url(../img/back.png);
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        .three-img {
            position: absolute;
            bottom: 0;
            right: 0;    
            width: 228px;
            height: 143px;
        }
        .price-list-img {
            position: absolute;
            bottom: 0;
            right: 0;    
            width: 711px;
            height: 557px;
        }
        .bubles-img-right {
            position: absolute;
            bottom: 0;
            right: 0;    
            width: 476x;
            height: 557px;
        }
        .bubles-img-left {
            position: absolute;
            top: 0;
            right: 130px;    
            width: 562px;
            height: 347px;
        }
        .icon-img {
            position: absolute;
            top: 280px;
            right: 400px;    
            width: 108px;
            height: 108px;
        }
    }
    .price-main {
        margin-top: 20px;
        margin-left: 50px;
        display: inline-block;
        .price-text {
            margin-top: 20px;
            width: 436px;
            color: white;
            font-size: 24px;
            font-weight: 600;
            .price-text-thin {
              font-weight: 800;
            }
            .price-text-small {
                font-size: 14px;
                font-weight: 300;
                margin-top: 40px;
            }
        }
    }
    .price-choice {
        margin-top: 19px;
        display: flex;
        justify-content: space-between;
        width: 270px;
      }
    .price-phone {
        margin-top: 10px;
        padding-left:50px;
        width: 220px;
        height: 70px;
        border-radius: 40px;
        border: none;
        text-align: left;
      }
    .confidentiality {
        display: flex;
        margin-top: 15px;
        color: white;
        font-size: 11px;
        font-weight: 300;
        text-align: center;
      }
      .real-checkbox {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
      .custom-checkbox {
        margin-top: 10px;
        position: relative;
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: #FFC24D;
        border-radius: 4px;
        margin-right: 6px;
        vertical-align: sub;
      }
      .custom-checkbox::before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        background-image:url("../img/vector.svg");
        background-size: contain;
        background-image: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.2s ease-in;
      }
      .real-checkbox:checked + .custom-checkbox::before {
        transform: translate(-50%, -50%) scale(1);
      }
      .decor {
        text-decoration: underline;
      }
      .text-align-left {
        text-align: left;
      }
}